page-continue-filtering {
  .loading {
    margin-top: 45px;
    font-size: 50em !important;
    // width: 58px;
    // height: 58px;
    // stroke: #444;
    // fill: #222;
  }

  .tip-cls{
    margin: 20px;
    margin-top: 40px;
    padding: 20px;
    background-color: #CBDBEE;
    border-radius: 100px;
    color: white;
  }
  .next-btn{
    margin-top: 15px;
    width: 250px;
  }


}
