page-search-exist {
    .p-title {
      margin-top: 100px !important;
    }

    .confirm-title {
      margin-top: 135px;
    }

    .subproduct-image {
      margin-top: 25px;
      width: 220px;
      height: 200px;
      border-radius: 15px;
    }

    .container {
      height: 120px !important;
    }

    .middle {
      position: absolute;
      width: 100%;
      bottom: -5px;
      font-weight: bold;
      font-size: 1.5em;
    }



}
