<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687364916245-kbiiha560vgu2l2krj373ng4dj1oo5nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687364916245-kbiiha560vgu2l2krj373ng4dj1oo5nn</string>
	<key>API_KEY</key>
	<string>AIzaSyAMjNQtUg8MaUrWz5FB-MH7btQ4GKeVHRo</string>
	<key>GCM_SENDER_ID</key>
	<string>687364916245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fashiontoolr</string>
	<key>PROJECT_ID</key>
	<string>fashiontoolr-c7022</string>
	<key>STORAGE_BUCKET</key>
	<string>fashiontoolr-c7022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687364916245:ios:e1b8393b123520f76c3a1c</string>
	<key>DATABASE_URL</key>
	<string>https://fashiontoolr-c7022.firebaseio.com</string>
</dict>
</plist>