<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<!-- <div *ngIf="!quizPending"  text-center class="suggestion-container" id="suggestion_container">
    <button ion-button color="light" fill="solid" outline round class="btn-suggestion">Suggestion Feed</button>  
</div> -->
<!-- <div *ngIf="!quizPending" class="message" id="profile_message" type="overlay">
  <div text-center><img class="icon-a-c" src="assets/img/icon_pg_3.png" /></div>
  <h1>Success!</h1>
  <p>Awesome, your fashion profile<br />is all setup and your first fashion<br /> recommendations are ready for<br/>you to view!</p>
  <button ion-button color="light" fill="solid" outline round class="btn-okay" (click)="Okay()">Okay</button>
</div> -->
<ion-content class="ion-content-below-my-title">
  <div class="toppart">
    <div class="topdiv">
      <img src="assets/img/backarrow.png" class="topbackbutton" (click)="back()" />
      <h1 class="topheading">Lodges List</h1>
      
    </div>
    
  </div>
  <div class="midbuttons" *ngIf="LoadingView==true">
    <!-- {{parksData[0].imageURL}} -->
    <ng-container *ngFor="let park of parksData">
      <div class="parkdiv">
        <!-- <img src="{{park['cabin_images'][1]['url']}}" > -->
        <img class="parkimage" [src]="park.lodges_carousel_images != null ? park.lodges_carousel_images[0].url :'assets/img/cabins.png'" onerror="this.onerror=null;this.src='assets/img/cabins.png';">
        <div class="parktitlediv">
          <h2 class="parktitle">{{park.title}}</h2>
          
        </div>
        <div class="cabinslabels">
          <!-- <h3 class="parkaddress">${{park.cabin_low_rate}}-${{park.cabin_high_rate}}/Night</h3>  -->
          <h3 class="viewcabin" (click)="goToParkDetails(park)">View ></h3>
        </div>
      </div>
    </ng-container>
    <!-- <ion-grid class="parks-grid">
      <ion-row>
        
      </ion-row>
    </ion-grid> -->
  </div>
</ion-content>
