<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<!-- <div *ngIf="!quizPending"  text-center class="suggestion-container" id="suggestion_container">
    <button ion-button color="light" fill="solid" outline round class="btn-suggestion">Suggestion Feed</button>  
</div> -->
<!-- <div *ngIf="!quizPending" class="message" id="profile_message" type="overlay">
  <div text-center><img class="icon-a-c" src="assets/img/icon_pg_3.png" /></div>
  <h1>Success!</h1>
  <p>Awesome, your fashion profile<br />is all setup and your first fashion<br /> recommendations are ready for<br/>you to view!</p>
  <button ion-button color="light" fill="solid" outline round class="btn-okay" (click)="Okay()">Okay</button>
</div> -->
<ion-content class="ion-content-below-my-title">
  <div class="toppart">
    <div class="topdiv">
      <img src="assets/img/backarrow.png" class="topbackbutton" (click)="back()" />
      <h1 class="topheading">Park Map</h1>
      <h3 class="topfilter">Filters</h3>
    </div>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Where are you exploring? City or Park" class="searchinput"></ion-input>
        <ion-icon class="searchicon" name="search" item-left></ion-icon>
        
      </ion-item>
      
    </ion-list>
    
  </div>
  <div class="midbuttons">
    <div id="map_canvas"></div>
  </div>
</ion-content>
