page-notifications {
  .noti-price {
    margin-top: 10px;
    font-size: .6em;
  }
  .noti-prod-image {
    margin-left: 10px;
  }
  .notification-image {
    margin-top: -20px;
    width: 30px !important;
    height: 30px !important;
  }
  .right-img {
    width: 60px !important;
    height: 60px !important;
  }
  .noti-time {
    margin-top: 25 px;
    font-size: .6em;
    color: #2B8DE3;
  }
  .notification-msg {
    font-size: .8em;
  }
  .notification-text {
      color: lightgray;
  }
  .prod-title{

  }
  .prod-store{
    margin-top: -5px !important;
  }

}
