page-my-data {

  p {
    margin-top: 30px;
    color: gray;
  }

  h3 {
    margin-top: 35px;
    font-size: 22px;
  }


  .btn-class {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .request-btn {
    font-size: 12px;
    text-transform: none;
    border-color: #c1c1c1;
    color: #c1c1c1;
  }

  .step2-div-contents
  {
    padding: 16px;
    padding-left: 28px;
    padding-right: 38px;
  }
}
