page-sale-alerts {
    .item{
        h2{
          font-size: 14px;
          font-weight: bold;
        }
        p{
          font-size: 12px;
        }
      }
      .sale-label{
        margin-top: -40px !important;
        font-weight: bold;
      }
}
